<h1>{{title}}</h1>
<img src="assets/Bill_Gates_2017_(cropped).jpg" width="300px">
<p>{{information}}</p> 
<b>Quotes by Bill Gates</b>
<ul>
    <li><i>{{ quotes[0] }}</i></li>
    <li><i>{{ quotes[1] }}</i></li>
    <li><i>{{ quotes[2] }}</i></li>
    <li><i>{{ quotes[3] }}</i></li>
    <li><i>{{ quotes[4] }}</i></li>
</ul>
<b>Links</b>
<ul>
<li><a href="https://en.wikipedia.org/wiki/Bill_Gates">Wiki</a></li>
  <li><a href="https://www.gatesfoundation.org/">Gates Foundation</a></li>
  <li><a href="https://www.gatesnotes.com/">Gates Notes</a></li>
  <li><a href="https://twitter.com/billgates">Twitter</a></li>
</ul>
